# 10 Minutes to pandas
## Please learn pandas from these links.
https://pandas.pydata.org/pandas-docs/stable/10min.html

http://manishamde.github.io/blog/2013/03/07/pandas-and-python-top-10/#numpy

### You should be able to understand these commands:
1. Create and read data: Series and Data Frame, read_csv
2. View data: head, tail, index, values, describe
3. Select data: slicing, loc, iloc
4. Missing data: dropna, fillna, isna
5. apply and lambda
6. concat, append, reshape
6. SQL style function: merge, join, group by

# Question: please implement the code from these three pages.
## Page 1:
http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
## Page 2:
http://www.gregreda.com/2013/10/26/working-with-pandas-dataframes/
## Page 3:
http://www.gregreda.com/2013/10/26/using-pandas-on-the-movielens-dataset/

# Make sure you understand all these commands and try to use them in your project.

### Page 1

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('max_columns', 50)
%matplotlib inline

s = pd.Series([3.14, 7, 200, -1789710578, 40],
              index=['Price 1', 'Price 2', 'Price 3', 'Price 4', 'Price 5'])

bitcoinPrices = s

# bitcoinPrices[['Price 1', 'Price 2']]

bitcoinPrices['Price 1'] = 1400

bitcoinPrices


data = {'prices': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'dates': ['4/11', '8/14', '6/13', '9/08', '7/15', '12/25', '1/11', '2/13'],
        'prices': [11, 8, 10, 15, 11, 6, 10, 4],
        'dates': ['4/11', '8/14', '6/13', '9/08', '7/15', '12/25', '1/11', '2/13']}
bitcoin = pd.DataFrame(data, columns=['prices', 'dates', 'prices', 'dates'])
bitcoin

from_csv = pd.read_csv('./data/bitcoin_cash_price.csv')
from_csv.head()

           Date    Open    High     Low   Close         Volume      Market Cap
0  Nov 07, 2017  602.68  626.21  602.45  616.30    375,367,000  10,105,200,000
1  Nov 06, 2017  630.31  657.34  602.65  602.65    794,105,000  10,566,600,000
2  Nov 05, 2017  619.91  635.72  579.13  630.70    816,028,000  10,390,900,000
3  Nov 04, 2017  635.35  642.05  571.12  620.45  1,161,370,000  10,647,200,000
4  Nov 03, 2017  587.32  684.53  577.86  625.32  1,682,210,000   9,839,760,000

### Page 2

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

cols = ['Date', 'Open', 'High', 'low', 'Close', 'Volume', 'Market Cap']
df = pd.read_csv('./data/bitcoin_price.csv', sep=',',header=0)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1655 entries, 0 to 1654
Data columns (total 7 columns):
Date          1655 non-null object
Open          1655 non-null float64
High          1655 non-null float64
Low           1655 non-null float64
Close         1655 non-null float64
Volume        1655 non-null object
Market Cap    1655 non-null object
dtypes: float64(4), object(3)
memory usage: 90.6+ KB

In [5]:
df.dtypes

Date           object
Open          float64
High          float64
Low           float64
Close         float64
Volume         object
Market Cap     object
dtype: object

In [6]:
df.describe()

              Open         High          Low        Close
count  1655.000000  1655.000000  1655.000000  1655.000000
mean    822.136127   845.812665   800.640906   826.285541
std    1108.245793  1147.157863  1077.408893  1119.053510
min      68.500000    74.560000    65.530000    68.430000
25%     263.850000   270.070000   260.030000   264.135000
50%     453.380000   458.200000   444.960000   453.380000
75%     743.485000   759.425000   731.785000   744.820000
max    7404.520000  7617.480000  7333.190000  7407.410000

In [7]:
df.describe()

              Open         High          Low        Close
count  1655.000000  1655.000000  1655.000000  1655.000000
mean    822.136127   845.812665   800.640906   826.285541
std    1108.245793  1147.157863  1077.408893  1119.053510
min      68.500000    74.560000    65.530000    68.430000
25%     263.850000   270.070000   260.030000   264.135000
50%     453.380000   458.200000   444.960000   453.380000
75%     743.485000   759.425000   731.785000   744.820000
max    7404.520000  7617.480000  7333.190000  7407.410000

In [8]:
df.head()

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Nov 07, 2017",7023.10,7253.32,7023.10,7144.38,"2,326,340,000","117,056,000,000"
1,"Nov 06, 2017",7403.22,7445.77,7007.31,7022.76,"3,111,900,000","123,379,000,000"
2,"Nov 05, 2017",7404.52,7617.48,7333.19,7407.41,"2,380,410,000","123,388,000,000"
3,"Nov 04, 2017",7164.48,7492.86,7031.28,7379.95,"2,483,800,000","119,376,000,000"
4,"Nov 03, 2017",7087.53,7461.29,7002.94,7207.76,"3,369,860,000","118,084,000,000"

In [9]:
df.tail(3)

              Date    Open    High     Low   Close Volume     Market Cap
1652  Apr 30, 2013  144.00  146.93  134.05  139.00      -  1,597,780,000
1653  Apr 29, 2013  134.44  147.49  134.00  144.54      -  1,491,160,000
1654  Apr 28, 2013  135.30  135.98  132.10  134.21      -  1,500,520,000

In [10]:
df[20:22]

,Date,Open,High,Low,Close,Volume,Market Cap
20,"Oct 18, 2017",5603.82,5603.82,5151.44,5590.69,"2,399,270,000","93,190,200,000"
21,"Oct 17, 2017",5741.58,5800.35,5472.72,5605.51,"1,821,570,000","95,469,300,000"

In [11]:
df['Low'].head()

0    7023.10
1    7007.31
2    7333.19
3    7031.28
4    7002.94
Name: Low, dtype: float64

In [12]:
print(df[['Open', 'Close']].head())
print('\n')

      Open    Close
0  7023.10  7144.38
1  7403.22  7022.76
2  7404.52  7407.41
3  7164.48  7379.95
4  7087.53  7207.76

In [13]:
columns_you_want = ['Volume', 'Market Cap'] 
print(df[columns_you_want].head())

          Volume       Market Cap
0  2,326,340,000  117,056,000,000
1  3,111,900,000  123,379,000,000
2  2,380,410,000  123,388,000,000
3  2,483,800,000  119,376,000,000
4  3,369,860,000  118,084,000,000

In [14]:
# open at more than 7000
print(df[df.Open > 700].head(3))
print('\n')

# Two conditions with AND
print(df[(df.Open == 5741.58) & (df.Volume == 1821570000)].head(3))
print('\n')

# with OR
print(df[(df.Open > 5000) | (df.Close < 7000)].head(3))

           Date     Open     High      Low    Close         Volume  \
0  Nov 07, 2017  7023.10  7253.32  7023.10  7144.38  2,326,340,000
1  Nov 06, 2017  7403.22  7445.77  7007.31  7022.76  3,111,900,000
2  Nov 05, 2017  7404.52  7617.48  7333.19  7407.41  2,380,410,000

        Market Cap
0  117,056,000,000
1  123,379,000,000
2  123,388,000,000


Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume, Market Cap]
Index: []


           Date     Open     High      Low    Close         Volume  \
0  Nov 07, 2017  7023.10  7253.32  7023.10  7144.38  2,326,340,000
1  Nov 06, 2017  7403.22  7445.77  7007.31  7022.76  3,111,900,000
2  Nov 05, 2017  7404.52  7617.48  7333.19  7407.41  2,380,410,000

        Market Cap
0  117,056,000,000
1  123,379,000,000
2  123,388,000,000

In [15]:
print(df.set_index('Date').head())
print('\n')

print(df.head())
print("\n^^^ I didn't actually change the DataFrame. ^^^\n")

with_new_index = df.set_index('Date')
print(with_new_index.head())
print("\n^^^ set_index actually returns a new DataFrame. ^^^\n")

                 Open     High      Low    Close         Volume  \
Date
Nov 07, 2017  7023.10  7253.32  7023.10  7144.38  2,326,340,000
Nov 06, 2017  7403.22  7445.77  7007.31  7022.76  3,111,900,000
Nov 05, 2017  7404.52  7617.48  7333.19  7407.41  2,380,410,000
Nov 04, 2017  7164.48  7492.86  7031.28  7379.95  2,483,800,000
Nov 03, 2017  7087.53  7461.29  7002.94  7207.76  3,369,860,000

                   Market Cap
Date
Nov 07, 2017  117,056,000,000
Nov 06, 2017  123,379,000,000
Nov 05, 2017  123,388,000,000
Nov 04, 2017  119,376,000,000
Nov 03, 2017  118,084,000,000


           Date     Open     High      Low    Close         Volume  \
0  Nov 07, 2017  7023.10  7253.32  7023.10  7144.38  2,326,340,000
1  Nov 06, 2017  7403.22  7445.77  7007.31  7022.76  3,111,900,000
2  Nov 05, 2017  7404.52  7617.48  7333.19  7407.41  2,380,410,000
3  Nov 04, 2017  7164.48  7492.86  7031.28  7379.95  2,483,800,000
4  Nov 03, 2017  7087.53  7461.29  7002.94  7207.76  3,369,860,000

        Market Cap
0  117,056,000,000
1  123,379,000,000
2  123,388,000,000
3  119,376,000,000
4  118,084,000,000

^^^ I didn't actually change the DataFrame. ^^^

                 Open     High      Low    Close         Volume  \
Date
Nov 07, 2017  7023.10  7253.32  7023.10  7144.38  2,326,340,000
Nov 06, 2017  7403.22  7445.77  7007.31  7022.76  3,111,900,000
Nov 05, 2017  7404.52  7617.48  7333.19  7407.41  2,380,410,000
Nov 04, 2017  7164.48  7492.86  7031.28  7379.95  2,483,800,000
Nov 03, 2017  7087.53  7461.29  7002.94  7207.76  3,369,860,000

                   Market Cap
Date
Nov 07, 2017  117,056,000,000
Nov 06, 2017  123,379,000,000
Nov 05, 2017  123,388,000,000
Nov 04, 2017  119,376,000,000
Nov 03, 2017  118,084,000,000

^^^ set_index actually returns a new DataFrame. ^^^

In [16]:
df.set_index('Date', inplace=True)
df.head()

,Open,High,Low,Close,Volume,Market Cap
Date,,,,,,
"Nov 07, 2017",7023.10,7253.32,7023.10,7144.38,"2,326,340,000","117,056,000,000"
"Nov 06, 2017",7403.22,7445.77,7007.31,7022.76,"3,111,900,000","123,379,000,000"
"Nov 05, 2017",7404.52,7617.48,7333.19,7407.41,"2,380,410,000","123,388,000,000"
"Nov 04, 2017",7164.48,7492.86,7031.28,7379.95,"2,483,800,000","119,376,000,000"
"Nov 03, 2017",7087.53,7461.29,7002.94,7207.76,"3,369,860,000","118,084,000,000"

In [17]:
print(df.iloc[99])
print('\n')
print(df.iloc[[1, 50, 300]])

Open                 2763.24
High                 2889.62
Low                  2720.61
Close                2875.34
Volume           860,575,000
Market Cap    45,535,800,000
Name: Jul 31, 2017, dtype: object


                 Open     High      Low    Close         Volume  \
Date
Nov 06, 2017  7403.22  7445.77  7007.31  7022.76  3,111,900,000
Sep 18, 2017  3591.09  4079.23  3591.09  4065.20  1,943,210,000
Jan 11, 2017   908.12   919.45   762.76   777.76    310,929,000

                   Market Cap
Date
Nov 06, 2017  123,379,000,000
Sep 18, 2017   59,514,100,000
Jan 11, 2017   14,615,700,000

In [18]:
print(df.loc['Jul 31, 2017'])
print('\n')
print(df.loc[['Nov 06, 2017', 'Sep 18, 2017', 'Jan 11, 2017']])

Open                 2763.24
High                 2889.62
Low                  2720.61
Close                2875.34
Volume           860,575,000
Market Cap    45,535,800,000
Name: Jul 31, 2017, dtype: object


                 Open     High      Low    Close         Volume  \
Date
Nov 06, 2017  7403.22  7445.77  7007.31  7022.76  3,111,900,000
Sep 18, 2017  3591.09  4079.23  3591.09  4065.20  1,943,210,000
Jan 11, 2017   908.12   919.45   762.76   777.76    310,929,000

                   Market Cap
Date
Nov 06, 2017  123,379,000,000
Sep 18, 2017   59,514,100,000
Jan 11, 2017   14,615,700,000

In [19]:
df.reset_index(inplace=True)
df.head()

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Nov 07, 2017",7023.10,7253.32,7023.10,7144.38,"2,326,340,000","117,056,000,000"
1,"Nov 06, 2017",7403.22,7445.77,7007.31,7022.76,"3,111,900,000","123,379,000,000"
2,"Nov 05, 2017",7404.52,7617.48,7333.19,7407.41,"2,380,410,000","123,388,000,000"
3,"Nov 04, 2017",7164.48,7492.86,7031.28,7379.95,"2,483,800,000","119,376,000,000"
4,"Nov 03, 2017",7087.53,7461.29,7002.94,7207.76,"3,369,860,000","118,084,000,000"

In [20]:
cols2 = ['Date', 'Open', 'High', 'low', 'Close', 'Volume', 'Market Cap']
df2 = pd.read_csv('./data/bitcoin_cash_price.csv', sep=',',header=0)
print(df.head())
print('\n')
print(df2.head())

           Date     Open     High      Low    Close         Volume  \
0  Nov 07, 2017  7023.10  7253.32  7023.10  7144.38  2,326,340,000
1  Nov 06, 2017  7403.22  7445.77  7007.31  7022.76  3,111,900,000
2  Nov 05, 2017  7404.52  7617.48  7333.19  7407.41  2,380,410,000
3  Nov 04, 2017  7164.48  7492.86  7031.28  7379.95  2,483,800,000
4  Nov 03, 2017  7087.53  7461.29  7002.94  7207.76  3,369,860,000

        Market Cap
0  117,056,000,000
1  123,379,000,000
2  123,388,000,000
3  119,376,000,000
4  118,084,000,000


           Date    Open    High     Low   Close         Volume      Market Cap
0  Nov 07, 2017  602.68  626.21  602.45  616.30    375,367,000  10,105,200,000
1  Nov 06, 2017  630.31  657.34  602.65  602.65    794,105,000  10,566,600,000
2  Nov 05, 2017  619.91  635.72  579.13  630.70    816,028,000  10,390,900,000
3  Nov 04, 2017  635.35  642.05  571.12  620.45  1,161,370,000  10,647,200,000
4  Nov 03, 2017  587.32  684.53  577.86  625.32  1,682,210,000   9,839,760,000

In [21]:
print pd.merge(df, df2, how='inner')

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume, Market Cap]
Index: []

In [22]:
pd.merge(df, df2, how='left')

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Nov 07, 2017",7023.10,7253.32,7023.10,7144.38,"2,326,340,000","117,056,000,000"
1,"Nov 06, 2017",7403.22,7445.77,7007.31,7022.76,"3,111,900,000","123,379,000,000"
2,"Nov 05, 2017",7404.52,7617.48,7333.19,7407.41,"2,380,410,000","123,388,000,000"
3,"Nov 04, 2017",7164.48,7492.86,7031.28,7379.95,"2,483,800,000","119,376,000,000"
4,"Nov 03, 2017",7087.53,7461.29,7002.94,7207.76,"3,369,860,000","118,084,000,000"
5,"Nov 02, 2017",6777.77,7367.33,6758.72,7078.50,"4,653,770,000","112,910,000,000"
6,"Nov 01, 2017",6440.97,6767.31,6377.88,6767.31,"2,870,320,000","107,287,000,000"
7,"Oct 31, 2017",6132.02,6470.43,6103.33,6468.40,"2,311,380,000","102,130,000,000"
8,"Oct 30, 2017",6114.85,6214.99,6040.85,6130.53,"1,772,150,000","101,833,000,000"
9,"Oct 29, 2017",5754.44,6255.71,5724.58,6153.85,"2,859,040,000","95,819,800,000"
10,"Oct 28, 2017",5787.82,5876.72,5689.19,5753.09,"1,403,920,000","96,369,600,000"
11,"Oct 27, 2017",5899.74,5988.39,5728.82,5780.90,"1,710,130,000","98,225,400,000"
12,"Oct 26, 2017",5747.95,5976.80,5721.22,5904.83,"1,905,040,000","95,685,100,000"
13,"Oct 25, 2017",5524.60,5754.33,5397.88,5750.80,"1,966,990,000","91,954,200,000"
14,"Oct 24, 2017",5935.52,5935.52,5504.18,5526.64,"2,735,700,000","98,781,600,000"
15,"Oct 23, 2017",6006.00,6075.59,5732.47,5930.32,"2,401,840,000","99,941,600,000"
16,"Oct 22, 2017",6036.66,6076.26,5792.34,6008.42,"2,034,630,000","100,438,000,000"
17,"Oct 21, 2017",5996.79,6194.88,5965.07,6031.60,"2,207,100,000","99,763,200,000"
18,"Oct 20, 2017",5708.11,6060.11,5627.23,6011.45,"2,354,430,000","94,947,900,000"
19,"Oct 19, 2017",5583.74,5744.35,5531.06,5708.52,"1,780,540,000","92,867,000,000"
20,"Oct 18, 2017",5603.82,5603.82,5151.44,5590.69,"2,399,270,000","93,190,200,000"
21,"Oct 17, 2017",5741.58,5800.35,5472.72,5605.51,"1,821,570,000","95,469,300,000"
22,"Oct 16, 2017",5687.57,5776.23,5544.21,5725.59,"2,008,070,000","94,559,000,000"
23,"Oct 15, 2017",5835.96,5852.48,5478.61,5678.19,"1,976,040,000","97,011,900,000"
24,"Oct 14, 2017",5643.53,5837.70,5591.64,5831.79,"1,669,030,000","93,803,000,000"
25,"Oct 13, 2017",5464.16,5840.30,5436.85,5647.21,"3,615,480,000","90,812,400,000"
26,"Oct 12, 2017",4829.58,5446.91,4822.00,5446.91,"2,791,610,000","80,256,700,000"
27,"Oct 11, 2017",4789.25,4873.73,4751.63,4826.48,"1,222,280,000","79,578,200,000"
28,"Oct 10, 2017",4776.21,4922.17,4765.10,4781.99,"1,597,140,000","79,351,800,000"
29,"Oct 09, 2017",4614.52,4878.71,4564.25,4772.02,"1,968,740,000","76,656,500,000"
...,...,...,...,...,...,...,...
1625,"May 27, 2013",133.50,135.47,124.70,129.75,-,"1,495,520,000"
1626,"May 26, 2013",131.99,136.00,130.62,133.48,-,"1,478,030,000"
1627,"May 25, 2013",133.10,133.22,128.90,131.98,-,"1,489,950,000"
1628,"May 24, 2013",126.30,133.85,125.72,133.20,-,"1,413,300,000"
1629,"May 23, 2013",123.80,126.93,123.10,126.70,-,"1,384,780,000"
1630,"May 22, 2013",122.89,124.00,122.00,123.89,-,"1,374,130,000"
1631,"May 21, 2013",122.02,123.00,121.21,122.88,-,"1,363,940,000"
1632,"May 20, 2013",122.50,123.62,120.12,122.00,-,"1,368,910,000"
1633,"May 19, 2013",123.21,124.50,119.57,121.99,-,"1,376,370,000"
1634,"May 18, 2013",123.50,125.25,122.30,123.50,-,"1,379,140,000"
1635,"May 17, 2013",118.21,125.30,116.57,123.02,-,"1,319,590,000"
1636,"May 16, 2013",114.22,118.76,112.20,118.76,-,"1,274,620,000"
1637,"May 15, 2013",111.40,115.81,103.50,114.22,-,"1,242,760,000"
1638,"May 14, 2013",117.98,119.80,110.25,111.50,-,"1,315,720,000"
1639,"May 13, 2013",114.82,118.70,114.50,117.98,-,"1,279,980,000"
1640,"May 12, 2013",115.64,117.45,113.44,115.00,-,"1,288,630,000"
1641,"May 11, 2013",117.70,118.68,113.01,115.24,-,"1,311,050,000"
1642,"May 10, 2013",112.80,122.00,111.55,117.20,-,"1,255,970,000"
1643,"May 09, 2013",113.20,113.46,109.26,112.67,-,"1,259,980,000"
1644,"May 08, 2013",109.60,115.78,109.60,113.57,-,"1,219,450,000"
1645,"May 07, 2013",112.25,113.44,97.70,111.50,-,"1,248,470,000"
1646,"May 06, 2013",115.98,124.66,106.64,112.30,-,"1,289,470,000"
1647,"May 05, 2013",112.90,118.80,107.14,115.91,-,"1,254,760,000"
1648,"May 04, 2013",98.10,115.00,92.50,112.50,-,"1,089,890,000"
1649,"May 03, 2013",106.25,108.13,79.10,97.75,-,"1,180,070,000"
1650,"May 02, 2013",116.38,125.60,92.28,105.21,-,"1,292,190,000"
1651,"May 01, 2013",139.00,139.89,107.72,116.99,-,"1,542,820,000"
1652,"Apr 30, 2013",144.00,146.93,134.05,139.00,-,"1,597,780,000"
1653,"Apr 29, 2013",134.44,147.49,134.00,144.54,-,"1,491,160,000"
1654,"Apr 28, 2013",135.30,135.98,132.10,134.21,-,"1,500,520,000"

In [23]:
pd.merge(df, df2, how='right')

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Nov 07, 2017",602.68,626.21,602.45,616.30,"375,367,000","10,105,200,000"
1,"Nov 06, 2017",630.31,657.34,602.65,602.65,"794,105,000","10,566,600,000"
2,"Nov 05, 2017",619.91,635.72,579.13,630.70,"816,028,000","10,390,900,000"
3,"Nov 04, 2017",635.35,642.05,571.12,620.45,"1,161,370,000","10,647,200,000"
4,"Nov 03, 2017",587.32,684.53,577.86,625.32,"1,682,210,000","9,839,760,000"
5,"Nov 02, 2017",527.68,610.39,514.52,587.22,"1,632,060,000","8,840,010,000"
6,"Nov 01, 2017",438.30,538.26,437.91,531.83,"1,152,230,000","7,342,250,000"
7,"Oct 31, 2017",449.37,454.07,431.76,439.05,"343,799,000","7,527,260,000"
8,"Oct 30, 2017",458.45,478.42,417.62,448.23,"796,409,000","7,679,000,000"
9,"Oct 29, 2017",420.47,526.12,408.40,451.92,"2,002,440,000","7,042,260,000"
10,"Oct 28, 2017",369.54,425.44,369.06,423.35,"781,037,000","6,183,520,000"
11,"Oct 27, 2017",338.30,372.81,338.24,367.57,"501,989,000","5,655,870,000"
12,"Oct 26, 2017",332.11,350.94,331.21,338.20,"234,967,000","5,550,700,000"
13,"Oct 25, 2017",326.59,334.38,320.38,332.13,"151,935,000","5,457,720,000"
14,"Oct 24, 2017",315.90,340.45,311.48,326.89,"267,442,000","5,278,410,000"
15,"Oct 23, 2017",330.67,332.28,309.87,315.60,"191,558,000","5,524,790,000"
16,"Oct 22, 2017",323.50,355.52,323.50,331.66,"355,546,000","5,405,020,000"
17,"Oct 21, 2017",326.75,328.45,317.46,323.36,"129,938,000","5,458,980,000"
18,"Oct 20, 2017",330.90,332.98,323.08,327.44,"160,204,000","5,527,860,000"
19,"Oct 19, 2017",339.27,339.27,326.27,330.81,"195,578,000","5,667,070,000"
20,"Oct 18, 2017",373.65,376.18,313.77,339.17,"477,184,000","6,240,990,000"
21,"Oct 17, 2017",313.70,394.96,309.64,371.73,"1,008,160,000","5,239,520,000"
22,"Oct 16, 2017",315.26,318.02,310.52,313.64,"117,797,000","5,265,400,000"
23,"Oct 15, 2017",322.42,323.59,307.68,314.95,"133,385,000","5,384,760,000"
24,"Oct 14, 2017",321.54,327.42,317.35,321.96,"164,137,000","5,369,720,000"
25,"Oct 13, 2017",314.15,323.08,304.38,321.46,"288,210,000","5,242,630,000"
26,"Oct 12, 2017",315.47,330.13,310.71,313.21,"262,066,000","5,262,390,000"
27,"Oct 11, 2017",320.20,321.26,312.13,314.90,"131,577,000","5,341,000,000"
28,"Oct 10, 2017",313.22,352.02,311.70,321.59,"367,809,000","5,224,170,000"
29,"Oct 09, 2017",342.76,342.76,289.04,314.16,"288,075,000","5,716,320,000"
...,...,...,...,...,...,...,...
78,"Aug 21, 2017",723.70,756.59,573.47,599.63,"1,123,400,000","11,943,100,000"
79,"Aug 20, 2017",772.42,858.96,683.94,712.87,"1,494,020,000","12,742,600,000"
80,"Aug 19, 2017",697.04,1091.97,625.16,754.56,"3,196,230,000","11,498,100,000"
81,"Aug 18, 2017",458.67,764.07,458.67,690.24,"3,087,490,000","7,565,590,000"
82,"Aug 17, 2017",301.02,460.53,293.10,460.53,"744,605,000","4,964,980,000"
83,"Aug 16, 2017",297.97,307.62,290.21,300.21,"106,436,000","4,914,350,000"
84,"Aug 15, 2017",298.19,306.52,292.88,297.86,"133,924,000","4,917,480,000"
85,"Aug 14, 2017",296.10,327.39,293.50,297.68,"174,968,000","4,882,720,000"
86,"Aug 13, 2017",316.29,317.47,298.05,298.05,"120,722,000","5,215,330,000"
87,"Aug 12, 2017",327.82,341.85,313.70,317.09,"126,007,000","5,405,200,000"
88,"Aug 11, 2017",275.88,351.16,275.02,328.24,"233,971,000","4,548,600,000"
89,"Aug 10, 2017",305.21,311.68,274.68,275.95,"136,637,000","5,031,790,000"
90,"Aug 09, 2017",345.28,349.32,298.61,303.89,"165,032,000","5,691,960,000"
91,"Aug 08, 2017",321.35,386.29,309.61,345.49,"274,880,000","5,297,390,000"
92,"Aug 07, 2017",223.76,373.87,223.76,319.69,"346,546,000","3,688,360,000"
93,"Aug 06, 2017",212.18,223.70,203.44,220.66,"107,606,000","3,497,290,000"
94,"Aug 05, 2017",231.11,273.04,200.98,213.15,"144,043,000","3,809,330,000"
95,"Aug 04, 2017",362.18,386.93,233.05,233.05,"185,038,000","5,969,720,000"
96,"Aug 03, 2017",448.49,519.28,364.05,364.05,"161,518,000","7,392,030,000"
97,"Aug 02, 2017",382.38,756.93,309.33,452.66,"416,207,000","6,302,360,000"
98,"Aug 01, 2017",294.60,426.11,210.38,380.01,"65,988,800",-
99,"Jul 31, 2017",346.36,347.82,266.19,294.46,"1,075,960",-
100,"Jul 30, 2017",385.14,385.14,316.25,345.66,"606,695",-
101,"Jul 29, 2017",410.56,423.73,323.73,384.77,"737,815",-
102,"Jul 28, 2017",386.65,465.18,217.06,406.05,"1,230,160",-
103,"Jul 27, 2017",417.10,460.97,367.78,385.48,"533,207",-
104,"Jul 26, 2017",407.08,486.16,321.79,365.82,"1,784,640",-
105,"Jul 25, 2017",441.35,541.66,338.09,406.90,"524,908",-
106,"Jul 24, 2017",412.58,578.89,409.21,440.70,"190,952",-
107,"Jul 23, 2017",555.89,578.97,411.78,413.06,"85,013",-

In [24]:
pd.merge(df, df2, how='outer')

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Nov 07, 2017",7023.10,7253.32,7023.10,7144.38,"2,326,340,000","117,056,000,000"
1,"Nov 06, 2017",7403.22,7445.77,7007.31,7022.76,"3,111,900,000","123,379,000,000"
2,"Nov 05, 2017",7404.52,7617.48,7333.19,7407.41,"2,380,410,000","123,388,000,000"
3,"Nov 04, 2017",7164.48,7492.86,7031.28,7379.95,"2,483,800,000","119,376,000,000"
4,"Nov 03, 2017",7087.53,7461.29,7002.94,7207.76,"3,369,860,000","118,084,000,000"
5,"Nov 02, 2017",6777.77,7367.33,6758.72,7078.50,"4,653,770,000","112,910,000,000"
6,"Nov 01, 2017",6440.97,6767.31,6377.88,6767.31,"2,870,320,000","107,287,000,000"
7,"Oct 31, 2017",6132.02,6470.43,6103.33,6468.40,"2,311,380,000","102,130,000,000"
8,"Oct 30, 2017",6114.85,6214.99,6040.85,6130.53,"1,772,150,000","101,833,000,000"
9,"Oct 29, 2017",5754.44,6255.71,5724.58,6153.85,"2,859,040,000","95,819,800,000"
10,"Oct 28, 2017",5787.82,5876.72,5689.19,5753.09,"1,403,920,000","96,369,600,000"
11,"Oct 27, 2017",5899.74,5988.39,5728.82,5780.90,"1,710,130,000","98,225,400,000"
12,"Oct 26, 2017",5747.95,5976.80,5721.22,5904.83,"1,905,040,000","95,685,100,000"
13,"Oct 25, 2017",5524.60,5754.33,5397.88,5750.80,"1,966,990,000","91,954,200,000"
14,"Oct 24, 2017",5935.52,5935.52,5504.18,5526.64,"2,735,700,000","98,781,600,000"
15,"Oct 23, 2017",6006.00,6075.59,5732.47,5930.32,"2,401,840,000","99,941,600,000"
16,"Oct 22, 2017",6036.66,6076.26,5792.34,6008.42,"2,034,630,000","100,438,000,000"
17,"Oct 21, 2017",5996.79,6194.88,5965.07,6031.60,"2,207,100,000","99,763,200,000"
18,"Oct 20, 2017",5708.11,6060.11,5627.23,6011.45,"2,354,430,000","94,947,900,000"
19,"Oct 19, 2017",5583.74,5744.35,5531.06,5708.52,"1,780,540,000","92,867,000,000"
20,"Oct 18, 2017",5603.82,5603.82,5151.44,5590.69,"2,399,270,000","93,190,200,000"
21,"Oct 17, 2017",5741.58,5800.35,5472.72,5605.51,"1,821,570,000","95,469,300,000"
22,"Oct 16, 2017",5687.57,5776.23,5544.21,5725.59,"2,008,070,000","94,559,000,000"
23,"Oct 15, 2017",5835.96,5852.48,5478.61,5678.19,"1,976,040,000","97,011,900,000"
24,"Oct 14, 2017",5643.53,5837.70,5591.64,5831.79,"1,669,030,000","93,803,000,000"
25,"Oct 13, 2017",5464.16,5840.30,5436.85,5647.21,"3,615,480,000","90,812,400,000"
26,"Oct 12, 2017",4829.58,5446.91,4822.00,5446.91,"2,791,610,000","80,256,700,000"
27,"Oct 11, 2017",4789.25,4873.73,4751.63,4826.48,"1,222,280,000","79,578,200,000"
28,"Oct 10, 2017",4776.21,4922.17,4765.10,4781.99,"1,597,140,000","79,351,800,000"
29,"Oct 09, 2017",4614.52,4878.71,4564.25,4772.02,"1,968,740,000","76,656,500,000"
...,...,...,...,...,...,...,...
1733,"Aug 21, 2017",723.70,756.59,573.47,599.63,"1,123,400,000","11,943,100,000"
1734,"Aug 20, 2017",772.42,858.96,683.94,712.87,"1,494,020,000","12,742,600,000"
1735,"Aug 19, 2017",697.04,1091.97,625.16,754.56,"3,196,230,000","11,498,100,000"
1736,"Aug 18, 2017",458.67,764.07,458.67,690.24,"3,087,490,000","7,565,590,000"
1737,"Aug 17, 2017",301.02,460.53,293.10,460.53,"744,605,000","4,964,980,000"
1738,"Aug 16, 2017",297.97,307.62,290.21,300.21,"106,436,000","4,914,350,000"
1739,"Aug 15, 2017",298.19,306.52,292.88,297.86,"133,924,000","4,917,480,000"
1740,"Aug 14, 2017",296.10,327.39,293.50,297.68,"174,968,000","4,882,720,000"
1741,"Aug 13, 2017",316.29,317.47,298.05,298.05,"120,722,000","5,215,330,000"
1742,"Aug 12, 2017",327.82,341.85,313.70,317.09,"126,007,000","5,405,200,000"
1743,"Aug 11, 2017",275.88,351.16,275.02,328.24,"233,971,000","4,548,600,000"
1744,"Aug 10, 2017",305.21,311.68,274.68,275.95,"136,637,000","5,031,790,000"
1745,"Aug 09, 2017",345.28,349.32,298.61,303.89,"165,032,000","5,691,960,000"
1746,"Aug 08, 2017",321.35,386.29,309.61,345.49,"274,880,000","5,297,390,000"
1747,"Aug 07, 2017",223.76,373.87,223.76,319.69,"346,546,000","3,688,360,000"
1748,"Aug 06, 2017",212.18,223.70,203.44,220.66,"107,606,000","3,497,290,000"
1749,"Aug 05, 2017",231.11,273.04,200.98,213.15,"144,043,000","3,809,330,000"
1750,"Aug 04, 2017",362.18,386.93,233.05,233.05,"185,038,000","5,969,720,000"
1751,"Aug 03, 2017",448.49,519.28,364.05,364.05,"161,518,000","7,392,030,000"
1752,"Aug 02, 2017",382.38,756.93,309.33,452.66,"416,207,000","6,302,360,000"
1753,"Aug 01, 2017",294.60,426.11,210.38,380.01,"65,988,800",-
1754,"Jul 31, 2017",346.36,347.82,266.19,294.46,"1,075,960",-
1755,"Jul 30, 2017",385.14,385.14,316.25,345.66,"606,695",-
1756,"Jul 29, 2017",410.56,423.73,323.73,384.77,"737,815",-
1757,"Jul 28, 2017",386.65,465.18,217.06,406.05,"1,230,160",-
1758,"Jul 27, 2017",417.10,460.97,367.78,385.48,"533,207",-
1759,"Jul 26, 2017",407.08,486.16,321.79,365.82,"1,784,640",-
1760,"Jul 25, 2017",441.35,541.66,338.09,406.90,"524,908",-
1761,"Jul 24, 2017",412.58,578.89,409.21,440.70,"190,952",-
1762,"Jul 23, 2017",555.89,578.97,411.78,413.06,"85,013",-

In [25]:
pd.concat([df, df2])

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Nov 07, 2017",7023.10,7253.32,7023.10,7144.38,"2,326,340,000","117,056,000,000"
1,"Nov 06, 2017",7403.22,7445.77,7007.31,7022.76,"3,111,900,000","123,379,000,000"
2,"Nov 05, 2017",7404.52,7617.48,7333.19,7407.41,"2,380,410,000","123,388,000,000"
3,"Nov 04, 2017",7164.48,7492.86,7031.28,7379.95,"2,483,800,000","119,376,000,000"
4,"Nov 03, 2017",7087.53,7461.29,7002.94,7207.76,"3,369,860,000","118,084,000,000"
5,"Nov 02, 2017",6777.77,7367.33,6758.72,7078.50,"4,653,770,000","112,910,000,000"
6,"Nov 01, 2017",6440.97,6767.31,6377.88,6767.31,"2,870,320,000","107,287,000,000"
7,"Oct 31, 2017",6132.02,6470.43,6103.33,6468.40,"2,311,380,000","102,130,000,000"
8,"Oct 30, 2017",6114.85,6214.99,6040.85,6130.53,"1,772,150,000","101,833,000,000"
9,"Oct 29, 2017",5754.44,6255.71,5724.58,6153.85,"2,859,040,000","95,819,800,000"
10,"Oct 28, 2017",5787.82,5876.72,5689.19,5753.09,"1,403,920,000","96,369,600,000"
11,"Oct 27, 2017",5899.74,5988.39,5728.82,5780.90,"1,710,130,000","98,225,400,000"
12,"Oct 26, 2017",5747.95,5976.80,5721.22,5904.83,"1,905,040,000","95,685,100,000"
13,"Oct 25, 2017",5524.60,5754.33,5397.88,5750.80,"1,966,990,000","91,954,200,000"
14,"Oct 24, 2017",5935.52,5935.52,5504.18,5526.64,"2,735,700,000","98,781,600,000"
15,"Oct 23, 2017",6006.00,6075.59,5732.47,5930.32,"2,401,840,000","99,941,600,000"
16,"Oct 22, 2017",6036.66,6076.26,5792.34,6008.42,"2,034,630,000","100,438,000,000"
17,"Oct 21, 2017",5996.79,6194.88,5965.07,6031.60,"2,207,100,000","99,763,200,000"
18,"Oct 20, 2017",5708.11,6060.11,5627.23,6011.45,"2,354,430,000","94,947,900,000"
19,"Oct 19, 2017",5583.74,5744.35,5531.06,5708.52,"1,780,540,000","92,867,000,000"
20,"Oct 18, 2017",5603.82,5603.82,5151.44,5590.69,"2,399,270,000","93,190,200,000"
21,"Oct 17, 2017",5741.58,5800.35,5472.72,5605.51,"1,821,570,000","95,469,300,000"
22,"Oct 16, 2017",5687.57,5776.23,5544.21,5725.59,"2,008,070,000","94,559,000,000"
23,"Oct 15, 2017",5835.96,5852.48,5478.61,5678.19,"1,976,040,000","97,011,900,000"
24,"Oct 14, 2017",5643.53,5837.70,5591.64,5831.79,"1,669,030,000","93,803,000,000"
25,"Oct 13, 2017",5464.16,5840.30,5436.85,5647.21,"3,615,480,000","90,812,400,000"
26,"Oct 12, 2017",4829.58,5446.91,4822.00,5446.91,"2,791,610,000","80,256,700,000"
27,"Oct 11, 2017",4789.25,4873.73,4751.63,4826.48,"1,222,280,000","79,578,200,000"
28,"Oct 10, 2017",4776.21,4922.17,4765.10,4781.99,"1,597,140,000","79,351,800,000"
29,"Oct 09, 2017",4614.52,4878.71,4564.25,4772.02,"1,968,740,000","76,656,500,000"
...,...,...,...,...,...,...,...
78,"Aug 21, 2017",723.70,756.59,573.47,599.63,"1,123,400,000","11,943,100,000"
79,"Aug 20, 2017",772.42,858.96,683.94,712.87,"1,494,020,000","12,742,600,000"
80,"Aug 19, 2017",697.04,1091.97,625.16,754.56,"3,196,230,000","11,498,100,000"
81,"Aug 18, 2017",458.67,764.07,458.67,690.24,"3,087,490,000","7,565,590,000"
82,"Aug 17, 2017",301.02,460.53,293.10,460.53,"744,605,000","4,964,980,000"
83,"Aug 16, 2017",297.97,307.62,290.21,300.21,"106,436,000","4,914,350,000"
84,"Aug 15, 2017",298.19,306.52,292.88,297.86,"133,924,000","4,917,480,000"
85,"Aug 14, 2017",296.10,327.39,293.50,297.68,"174,968,000","4,882,720,000"
86,"Aug 13, 2017",316.29,317.47,298.05,298.05,"120,722,000","5,215,330,000"
87,"Aug 12, 2017",327.82,341.85,313.70,317.09,"126,007,000","5,405,200,000"
88,"Aug 11, 2017",275.88,351.16,275.02,328.24,"233,971,000","4,548,600,000"
89,"Aug 10, 2017",305.21,311.68,274.68,275.95,"136,637,000","5,031,790,000"
90,"Aug 09, 2017",345.28,349.32,298.61,303.89,"165,032,000","5,691,960,000"
91,"Aug 08, 2017",321.35,386.29,309.61,345.49,"274,880,000","5,297,390,000"
92,"Aug 07, 2017",223.76,373.87,223.76,319.69,"346,546,000","3,688,360,000"
93,"Aug 06, 2017",212.18,223.70,203.44,220.66,"107,606,000","3,497,290,000"
94,"Aug 05, 2017",231.11,273.04,200.98,213.15,"144,043,000","3,809,330,000"
95,"Aug 04, 2017",362.18,386.93,233.05,233.05,"185,038,000","5,969,720,000"
96,"Aug 03, 2017",448.49,519.28,364.05,364.05,"161,518,000","7,392,030,000"
97,"Aug 02, 2017",382.38,756.93,309.33,452.66,"416,207,000","6,302,360,000"
98,"Aug 01, 2017",294.60,426.11,210.38,380.01,"65,988,800",-
99,"Jul 31, 2017",346.36,347.82,266.19,294.46,"1,075,960",-
100,"Jul 30, 2017",385.14,385.14,316.25,345.66,"606,695",-
101,"Jul 29, 2017",410.56,423.73,323.73,384.77,"737,815",-
102,"Jul 28, 2017",386.65,465.18,217.06,406.05,"1,230,160",-
103,"Jul 27, 2017",417.10,460.97,367.78,385.48,"533,207",-
104,"Jul 26, 2017",407.08,486.16,321.79,365.82,"1,784,640",-
105,"Jul 25, 2017",441.35,541.66,338.09,406.90,"524,908",-
106,"Jul 24, 2017",412.58,578.89,409.21,440.70,"190,952",-
107,"Jul 23, 2017",555.89,578.97,411.78,413.06,"85,013",-

In [26]:
pd.concat([df, df2], axis=1)

,Date,Open,High,Low,Close,Volume,Market Cap,Date,Open,High,Low,Close,Volume,Market Cap
0,"Nov 07, 2017",7023.10,7253.32,7023.10,7144.38,"2,326,340,000","117,056,000,000","Nov 07, 2017",602.68,626.21,602.45,616.30,"375,367,000","10,105,200,000"
1,"Nov 06, 2017",7403.22,7445.77,7007.31,7022.76,"3,111,900,000","123,379,000,000","Nov 06, 2017",630.31,657.34,602.65,602.65,"794,105,000","10,566,600,000"
2,"Nov 05, 2017",7404.52,7617.48,7333.19,7407.41,"2,380,410,000","123,388,000,000","Nov 05, 2017",619.91,635.72,579.13,630.70,"816,028,000","10,390,900,000"
3,"Nov 04, 2017",7164.48,7492.86,7031.28,7379.95,"2,483,800,000","119,376,000,000","Nov 04, 2017",635.35,642.05,571.12,620.45,"1,161,370,000","10,647,200,000"
4,"Nov 03, 2017",7087.53,7461.29,7002.94,7207.76,"3,369,860,000","118,084,000,000","Nov 03, 2017",587.32,684.53,577.86,625.32,"1,682,210,000","9,839,760,000"
5,"Nov 02, 2017",6777.77,7367.33,6758.72,7078.50,"4,653,770,000","112,910,000,000","Nov 02, 2017",527.68,610.39,514.52,587.22,"1,632,060,000","8,840,010,000"
6,"Nov 01, 2017",6440.97,6767.31,6377.88,6767.31,"2,870,320,000","107,287,000,000","Nov 01, 2017",438.30,538.26,437.91,531.83,"1,152,230,000","7,342,250,000"
7,"Oct 31, 2017",6132.02,6470.43,6103.33,6468.40,"2,311,380,000","102,130,000,000","Oct 31, 2017",449.37,454.07,431.76,439.05,"343,799,000","7,527,260,000"
8,"Oct 30, 2017",6114.85,6214.99,6040.85,6130.53,"1,772,150,000","101,833,000,000","Oct 30, 2017",458.45,478.42,417.62,448.23,"796,409,000","7,679,000,000"
9,"Oct 29, 2017",5754.44,6255.71,5724.58,6153.85,"2,859,040,000","95,819,800,000","Oct 29, 2017",420.47,526.12,408.40,451.92,"2,002,440,000","7,042,260,000"
10,"Oct 28, 2017",5787.82,5876.72,5689.19,5753.09,"1,403,920,000","96,369,600,000","Oct 28, 2017",369.54,425.44,369.06,423.35,"781,037,000","6,183,520,000"
11,"Oct 27, 2017",5899.74,5988.39,5728.82,5780.90,"1,710,130,000","98,225,400,000","Oct 27, 2017",338.30,372.81,338.24,367.57,"501,989,000","5,655,870,000"
12,"Oct 26, 2017",5747.95,5976.80,5721.22,5904.83,"1,905,040,000","95,685,100,000","Oct 26, 2017",332.11,350.94,331.21,338.20,"234,967,000","5,550,700,000"
13,"Oct 25, 2017",5524.60,5754.33,5397.88,5750.80,"1,966,990,000","91,954,200,000","Oct 25, 2017",326.59,334.38,320.38,332.13,"151,935,000","5,457,720,000"
14,"Oct 24, 2017",5935.52,5935.52,5504.18,5526.64,"2,735,700,000","98,781,600,000","Oct 24, 2017",315.90,340.45,311.48,326.89,"267,442,000","5,278,410,000"
15,"Oct 23, 2017",6006.00,6075.59,5732.47,5930.32,"2,401,840,000","99,941,600,000","Oct 23, 2017",330.67,332.28,309.87,315.60,"191,558,000","5,524,790,000"
16,"Oct 22, 2017",6036.66,6076.26,5792.34,6008.42,"2,034,630,000","100,438,000,000","Oct 22, 2017",323.50,355.52,323.50,331.66,"355,546,000","5,405,020,000"
17,"Oct 21, 2017",5996.79,6194.88,5965.07,6031.60,"2,207,100,000","99,763,200,000","Oct 21, 2017",326.75,328.45,317.46,323.36,"129,938,000","5,458,980,000"
18,"Oct 20, 2017",5708.11,6060.11,5627.23,6011.45,"2,354,430,000","94,947,900,000","Oct 20, 2017",330.90,332.98,323.08,327.44,"160,204,000","5,527,860,000"
19,"Oct 19, 2017",5583.74,5744.35,5531.06,5708.52,"1,780,540,000","92,867,000,000","Oct 19, 2017",339.27,339.27,326.27,330.81,"195,578,000","5,667,070,000"
20,"Oct 18, 2017",5603.82,5603.82,5151.44,5590.69,"2,399,270,000","93,190,200,000","Oct 18, 2017",373.65,376.18,313.77,339.17,"477,184,000","6,240,990,000"
21,"Oct 17, 2017",5741.58,5800.35,5472.72,5605.51,"1,821,570,000","95,469,300,000","Oct 17, 2017",313.70,394.96,309.64,371.73,"1,008,160,000","5,239,520,000"
22,"Oct 16, 2017",5687.57,5776.23,5544.21,5725.59,"2,008,070,000","94,559,000,000","Oct 16, 2017",315.26,318.02,310.52,313.64,"117,797,000","5,265,400,000"
23,"Oct 15, 2017",5835.96,5852.48,5478.61,5678.19,"1,976,040,000","97,011,900,000","Oct 15, 2017",322.42,323.59,307.68,314.95,"133,385,000","5,384,760,000"
24,"Oct 14, 2017",5643.53,5837.70,5591.64,5831.79,"1,669,030,000","93,803,000,000","Oct 14, 2017",321.54,327.42,317.35,321.96,"164,137,000","5,369,720,000"
25,"Oct 13, 2017",5464.16,5840.30,5436.85,5647.21,"3,615,480,000","90,812,400,000","Oct 13, 2017",314.15,323.08,304.38,321.46,"288,210,000","5,242,630,000"
26,"Oct 12, 2017",4829.58,5446.91,4822.00,5446.91,"2,791,610,000","80,256,700,000","Oct 12, 2017",315.47,330.13,310.71,313.21,"262,066,000","5,262,390,000"
27,"Oct 11, 2017",4789.25,4873.73,4751.63,4826.48,"1,222,280,000","79,578,200,000","Oct 11, 2017",320.20,321.26,312.13,314.90,"131,577,000","5,341,000,000"
28,"Oct 10, 2017",4776.21,4922.17,4765.10,4781.99,"1,597,140,000","79,351,800,000","Oct 10, 2017",313.22,352.02,311.70,321.59,"367,809,000","5,224,170,000"
29,"Oct 09, 2017",4614.52,4878.71,4564.25,4772.02,"1,968,740,000","76,656,500,000","Oct 09, 2017",342.76,342.76,289.04,314.16,"288,075,000","5,716,320,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1625,"May 27, 2013",133.50,135.47,124.70,129.75,-,"1,495,520,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1626,"May 26, 2013",131.99,136.00,130.62,133.48,-,"1,478,030,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1627,"May 25, 2013",133.10,133.22,128.90,131.98,-,"1,489,950,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1628,"May 24, 2013",126.30,133.85,125.72,133.20,-,"1,413,300,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1629,"May 23, 2013",123.80,126.93,123.10,126.70,-,"1,384,780,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1630,"May 22, 2013",122.89,124.00,122.00,123.89,-,"1,374,130,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1631,"May 21, 2013",122.02,123.00,121.21,122.88,-,"1,363,940,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1632,"May 20, 2013",122.50,123.62,120.12,122.00,-,"1,368,910,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1633,"May 19, 2013",123.21,124.50,119.57,121.99,-,"1,376,370,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1634,"May 18, 2013",123.50,125.25,122.30,123.50,-,"1,379,140,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1635,"May 17, 2013",118.21,125.30,116.57,123.02,-,"1,319,590,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1636,"May 16, 2013",114.22,118.76,112.20,118.76,-,"1,274,620,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1637,"May 15, 2013",111.40,115.81,103.50,114.22,-,"1,242,760,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1638,"May 14, 2013",117.98,119.80,110.25,111.50,-,"1,315,720,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1639,"May 13, 2013",114.82,118.70,114.50,117.98,-,"1,279,980,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1640,"May 12, 2013",115.64,117.45,113.44,115.00,-,"1,288,630,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1641,"May 11, 2013",117.70,118.68,113.01,115.24,-,"1,311,050,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1642,"May 10, 2013",112.80,122.00,111.55,117.20,-,"1,255,970,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1643,"May 09, 2013",113.20,113.46,109.26,112.67,-,"1,259,980,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1644,"May 08, 2013",109.60,115.78,109.60,113.57,-,"1,219,450,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1645,"May 07, 2013",112.25,113.44,97.70,111.50,-,"1,248,470,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1646,"May 06, 2013",115.98,124.66,106.64,112.30,-,"1,289,470,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1647,"May 05, 2013",112.90,118.80,107.14,115.91,-,"1,254,760,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1648,"May 04, 2013",98.10,115.00,92.50,112.50,-,"1,089,890,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1649,"May 03, 2013",106.25,108.13,79.10,97.75,-,"1,180,070,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1650,"May 02, 2013",116.38,125.60,92.28,105.21,-,"1,292,190,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1651,"May 01, 2013",139.00,139.89,107.72,116.99,-,"1,542,820,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1652,"Apr 30, 2013",144.00,146.93,134.05,139.00,-,"1,597,780,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1653,"Apr 29, 2013",134.44,147.49,134.00,144.54,-,"1,491,160,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1654,"Apr 28, 2013",135.30,135.98,132.10,134.21,-,"1,500,520,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
by_Open = df.groupby('Open')
by_Open

In [28]:
print(by_Open.count().head()) # NOT NULL records within each column
print('\n')
print(by_Open.size().tail()) # total records for each Open

       Date  High  Low  Close  Volume  Market Cap
Open
68.50     1     1    1      1       1           1
68.75     1     1    1      1       1           1
76.00     1     1    1      1       1           1
76.50     1     1    1      1       1           1
76.72     1     1    1      1       1           1


Open
7023.10    1
7087.53    1
7164.48    1
7403.22    1
7404.52    1
dtype: int64

In [29]:
print(by_Open.sum()[1:2]) # total opening prices for 20:25 slice
print('\n')
print(by_Open.mean()[20:25]) # average
print('\n')
print(by_Open.median()[20:25]) # median

Empty DataFrame
Columns: [High, Low, Close]
Index: []


Empty DataFrame
Columns: [High, Low, Close]
Index: []


Empty DataFrame
Columns: [High, Low, Close]
Index: []

In [30]:
by_Open.Low.nunique().sort_values(ascending=False)

Open
418.42    3
240.36    2
122.50    2
477.79    2
314.08    2
479.58    2
408.08    2
236.00    2
773.02    2
239.85    2
233.52    2
233.42    2
416.51    2
448.70    2
106.75    2
274.61    2
575.55    2
92.00     2
376.15    2
237.20    2
237.26    2
376.76    2
455.76    2
430.72    2
608.02    2
263.35    2
348.82    1
345.67    1
353.21    1
346.73    1
         ..
650.77    1
651.08    1
651.30    1
651.63    1
638.14    1
637.01    1
627.16    1
636.50    1
627.95    1
628.56    1
629.17    1
629.35    1
629.37    1
629.64    1
629.66    1
629.95    1
630.66    1
630.83    1
630.92    1
631.77    1
631.88    1
631.91    1
633.14    1
633.43    1
633.62    1
634.22    1
635.46    1
636.03    1
636.33    1
68.50     1
Name: Low, Length: 1628, dtype: int64

In [31]:
def ranker(df):
    """Assigns a rank to each assumes data is sorted in a way."""
    df['Open'] = np.arange(len(df)) + 1
    return df

### Page 3

In [ ]:
import pandas as pd
import numpy as np

cols = ['Date', 'Open', 'High', 'low', 'Close', 'Volume', 'Market Cap']
%cd ~/Downloads
df = pd.read_csv('./data/bitcoin_price.csv', sep=',',header=0)

# df.info

topPrices = df.groupby('Open').size().sort_values(ascending=False)
topPrices

df.Open.value_counts()

atleast_100 = df['Open'] >= 100
atleast_100

df.plot.hist(bins=30)
plt.title("Prices by Dates")
plt.ylabel('Low')
plt.xlabel('High');


labels = ['0-9', '10-19', '20-29', '30-39', '40-49', '50-59', '60-69', '70-79']
df['High'] = pd.cut(df.Open, range(0, 81, 10), right=False, labels=labels)
df[['Open', 'Close']].drop_duplicates()[:10]

# by_age = df.loc[atleast_100.index].groupby(['Open', 'High'])

# pivoted = df.pivot_table(index=['High', 'Low'],
#                            columns=['Open'],
#                            values='Close',
#                            fill_value=0)
# pivoted['diff'] = pivoted.columns - pivoted.values
# pivoted.head()
# pivoted.reset_index('High', inplace=True)

# disagreements = pivoted[pivoted.Open.isin(most_50.index)]['diff']
# disagreements.sort_values().plot(kind='barh', figsize=[9, 15])
# plt.title('Male vs. Female Avg. Ratings\n(Difference > 0 = Favored by Men)')
# plt.ylabel('Title')
# plt.xlabel('Average Rating Difference');